# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/
.env
*.sqlite3
local_settings.py

# Virtualenv
venv/
ENV/
env/
*.venv

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.subl

# Ignore all Python bytecode files
*.pyc
__pycache__/
server/api/__pycache__/
server/api/CoinDeskAPI/__pycache__/

# Ignore sandbox
sandbox.py

*.txt

# Ignore Django migration files except __init__.py
**/migrations/*
!**/migrations/__init__.py